
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.category ul{
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 25px;
}
.category ul li{
     font-size: 20px;
     margin-right: 25px;
     
}
.category ul a{
  text-decoration: none;
  color: black;
}
.category ul a:hover{
  text-decoration: underline;
  color: blue;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}
.author-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
