.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 30vw;
  }
  
  .search-bar input {
    width: 100%;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 768px) {
    .search-bar {
      width: 80%;
    }
  }