.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container{
     width: 70%;
	 max-height: 80vh;
	 display: flex;
	 flex-direction: column;
	 padding: 30px;
	 background-color: white;
	 border-radius: 20px;
	 overflow: scroll;
	 

}

.item{
	display: flex;
	height: 20vh;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.item img{
	height: 150px;
	width: 150px;
	border: 1px solid lightblue;
	border-radius: 10px;
}

.count{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.count p{
	margin: 10px;
}

#checkout{
	background-color: blue;
	border-radius: 10px;
}