.card {
    width: 200px;
    max-width: 80%;
    margin: 15px;
    padding: 15px;
    background-color: #E3E0DC;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-details {
    flex-grow: 1; /* Allow the details to take remaining space */
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.author-name {
    
    color: #555;
    margin-bottom: 5px;
}

.price {
    color: #e44d26;
    font-weight: bold;
}

.add-to-cart {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}